<ng-container [ngSwitch]="version">
    <!-- Version 1 -->
    <ng-container *ngSwitchCase="1">
      <button
        class="group relative rounded-xl bg-gray-100 p-2 text-blue-600 hover:bg-gray-50"
        (click)="handleButtonClick()"
        aria-haspopup="dialog"
      >
        <svg
          class="h-6 w-6 stroke-current"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18 4H6C4.89543 4 4 4.89543 4 6V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V6C20 4.89543 19.1046 4 18 4Z"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 9V15M9 12H15H9Z"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <div class="absolute inset-y-0 left-12 hidden items-center group-hover:flex">
          <div
            class="relative whitespace-nowrap rounded-md bg-white px-4 py-2 text-sm font-semibold text-gray-900 drop-shadow-lg"
          >
            <div class="absolute inset-0 -left-1 flex items-center">
              <div class="h-2 w-2 rotate-45 bg-white"></div>
            </div>
            Upload <span class="text-gray-400">(U)</span>
          </div>
        </div>
      </button>
      <input
        #fileInput
        type="file"
        (change)="handleFileChange($event)"
        class="hidden"
        accept="image/*"
        aria-label="Upload image file"
      />
    </ng-container>
  
    <!-- Version 2 -->

  

  </ng-container>
