<div class="flex bg-gray-100 text-gray-900">
  <aside class="flex h-screen w-20 flex-col items-center border-r border-gray-200 bg-white">
    <div class="flex h-[4.5rem] w-full items-center justify-center border-b border-gray-200 p-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThsapwuIZ2JPUVRaWSoX_xoEIOHWxneY7EupS8gsFriA&s" />
    </div>
    <nav class="flex flex-1 flex-col gap-y-4 pt-10">
      <app-upload-button [version]="1"></app-upload-button>
      <a href="#" class="text-gary-400 group relative rounded-xl p-2 hover:bg-gray-50">
        <svg width="24" height="24" class="h-6 w-6 stroke-current group-hover:text-blue-600" 
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-pencil"
        >
          <path
            d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
          ></path>
          <path d="m15 5 4 4"></path>
        </svg>

        <div class="absolute inset-y-0 left-12 hidden items-center group-hover:flex">
          <div class="relative whitespace-nowrap rounded-md bg-white px-4 py-2 text-sm font-semibold text-gray-900 drop-shadow-lg">
            <div class="absolute inset-0 -left-1 flex items-center">
              <div class="h-2 w-2 rotate-45 bg-white"></div>
            </div>
            Edit Image <span class="text-gray-400">(E)</span>
          </div>
        </div>
      </a>
      <!-- <app-upload-button></app-upload-button> -->
    </nav>

    <div class="flex flex-col items-center gap-y-4 py-10">
      <button class="group relative rounded-xl p-2 text-gray-400 hover:bg-gray-100">
        <svg width="24" height="24" class="h-6 w-6 stroke-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M12 16H12.01M12 8V12V8Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>

      <button class="mt-2 rounded-full bg-gray-100">
        <img class="h-10 w-10 rounded-full" src="https://avatars.githubusercontent.com/u/35387401?v=4" alt="" />
      </button>
    </div>
  </aside>
</div>