<!-- <app-upload-button [version]="1"></app-upload-button>  -->

<div class=" w-full px-4 py-2">
  <div class="bg-gray-900 w-full h-[500px] rounded-lg col-span-11 mb-40">
    <div class="flex p-2 gap-1 mb-3">
      <div class="">
        <span class="bg-red-500 inline-block center w-3 h-3 rounded-full"></span>
      </div>
      <div class="circle">
        <span class="bg-yellow-500 inline-block center w-3 h-3 rounded-full"></span>
      </div>
      <div class="circle">
        <span class="bg-green-500 box inline-block center w-3 h-3 rounded-full"></span>
      </div>
    </div>
    <div class=" w-full h-96 p-4 ">
      <ng-container *ngIf="uploadedImageUrl; else noImage">
          <img [src]="uploadedImageUrl" alt="Uploaded Image" class="rounded-lg w-full h-full object-cover" />
        </ng-container>

      <ng-template
      #noImage
      >
      <div
      class="m-4 px-4 py-5 text-white  flex flex-col justify-center items-center gap-3 rounded-md shadow-[0px_0px_15px_rgba(0,0,0,0.09)]"
      >
      <legend class="text-xl font-semibold mb-3 select-none ">Upload Image </legend>
      <app-upload-button [version]="2"></app-upload-button>
  
      </div>
      
      </ng-template>     
    </div>
    <div class="container px-5 w-full mx-auto ">
      <div
        class="my-4 px-4 py-5 bg-white gap-3 rounded-md shadow-[0px_0px_15px_rgba(0,0,0,0.09)] items-center"
      >
      <div class="flex flex-nowrap w-full items-center">
        <legend class="text-xl font-semibold  select-none">Choose category :</legend>
        <app-group-check-box></app-group-check-box>    
      </div>

        <div class="container px-5 w-full mx-auto flex justify-end gap-4 mt-5">
          <button 
          class="px-4 py-2 rounded-full text-sm font-medium border focus:outline-none focus:ring transition text-red-600 border-red-600 hover:text-white hover:bg-red-600 active:bg-red-700 focus:ring-red-300" type="submit">Cancel</button>

            <button
            class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 bg-gradient-to-tr from-gray-900 to-gray-800 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] rounded-full"
            type="button">
            Submit
          </button>
        </div>
      </div>
    
    </div>
  </div>
</div>



