  <section class="text-gray-600 body-font pt-3">
    <!-- category choice: -->
     <div class="container px-5 w-full mx-auto ">

<div
  class="my-4 px-4 py-5 bg-white gap-3 rounded-md shadow-[0px_0px_15px_rgba(0,0,0,0.09)] flex flex-nowrap items-center"
>
  <legend class="text-xl font-semibold  select-none">Choose category :</legend>
  <div class="flex gap-6">
    <div class="flex items-center gap-2" *ngFor="let group of checkboxGroups">
    <label 
    
        [for]="group.id" 
        (change)="onCategoryChange($event, group.value)"
        class="relative flex cursor-pointer items-center rounded-full p-3"
        >
        <input 
        type="checkbox" 
        [id]="group.id" 
        [value]="group.value"
        class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-500 checked:bg-blue-500 checked:before:bg-blue-500 hover:before:opacity-10"
        />
        <div class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3.5 w-3.5"
            viewBox="0 0 20 20"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="1"
            >
            <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
            ></path>
            </svg>
        </div>
        
        <!-- {{ group.label }}  -->
    </label>
    {{ group.label }}
    </div>
</div>
</div>

  
     </div>
    <div class="container px-5 pb-24 mx-auto  mt-16">
          <!-- Loading state -->
    <div *ngIf="isLoading" class="flex justify-center items-center">
      <p class="text-xl text-gray-500">Loading images...</p>
    </div>

    <!-- Error state -->
    <div *ngIf="errorMessage" class="flex justify-center items-center">
      <p class="text-xl text-red-500">{{ errorMessage }}</p>
    </div>

    <!-- No images state -->
    <div *ngIf="!isLoading && images.length === 0" class="flex justify-center items-center">
      <p class="text-xl text-gray-500">No images found</p>
    </div>
    <div *ngIf="!isLoading && images.length > 0" class=" -m-4 grid grid-cols-4 gap-4 px-4">
        <!-- <app-image-card-component></app-image-card-component>   -->
        <div
        *ngFor="let image of images"
        (click)="onImageClick(image)"
        class="max-w-[720px] mx-auto">
          <!-- Centering wrapper -->
          <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
              <div
                  class="relative mx-4 mt-4 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40">
                  <img
                  [src]="image.path" 
                  [alt]="image.filename" />
                  <div
                      class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-tr from-transparent via-transparent to-black/60">
                  </div>
              </div>
              <div class="p-6">
                  <div class="flex items-center justify-between mb-3">
                      <h5 class="block font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
                          Category :
                      </h5>
                      <p
                          class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                          {{ image.category }}
                          
                      </p>
                  
                  </div>
                  <div class="inline-flex flex-wrap items-center gap-3 mt-8 group">
                      <a
                      [routerLink]="['/edit/image', image._id]"
                          class="cursor-pointer rounded-full border border-gray-900/5 bg-gray-900/5 p-3 text-gray-900 transition-colors hover:border-gray-900/10 hover:bg-gray-900/10 hover:!opacity-100 group-hover:opacity-70">
                        
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                            </svg>
                            
                        
                          </a>
                      <span
                      (click)="downloadImage(image.path, image.filename)"
                          class="cursor-pointer rounded-full border border-gray-900/5 bg-gray-900/5 p-3 text-gray-900 transition-colors hover:border-gray-900/10 hover:bg-gray-900/10 hover:!opacity-100 group-hover:opacity-70">
                         
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                            </svg>
                            
                      </span>
                      <a
                      [routerLink]="['/home/image', image._id]"
                      class="cursor-pointer rounded-full border border-gray-900/5 bg-gray-900/5 p-3 text-gray-900 transition-colors hover:border-gray-900/10 hover:bg-gray-900/10 hover:!opacity-100 group-hover:opacity-70">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                     
                          </a>
                          <button 
                          (click)="deleteImage(image._id)" 
                          class="cursor-pointer rounded-full border border-red-900/5 bg-red-900/5 p-3 text-red-900 transition-colors hover:border-red-900/10 hover:bg-red-900/10 hover:!opacity-100 group-hover:opacity-70">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                          </svg>
                        </button>
                    
                  </div>
              </div>
           
          </div>
      </div>
    </div>
    </div>
  </section>
  
  
  
      